<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>

   <form method="POST" action="/newteam">
     <input type="text" name="name">
     <input type="text" name="coach">
   </form>

 </body>
</html>
